*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.content{
    color: aqua;
    background-color: black;
}
 .select{
    background-color: yellow;
}
.unescape{
    background-color: blue;
}
.box{
    width: 400px;
    height: 50px;
    border: 1px solid #000;

}
.active{
     padding: 15px;
     /* background-color:red; */
     float: left;
     margin-left: 10px;
}
button{
    width: 20px;
}